@{
    ViewBag.Title = "Signup";
}

@using POC.Identity.Web.Models;
@model  UserSignupModel


@using (Html.BeginForm("Signup", "Login", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new { placeholder = "Enter username", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Username, string.Empty, new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { placeholder = "Enter password", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password, string.Empty, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm password", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, string.Empty, new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Signup</button>
}

